name: Auto Merge
on:
  pull_request:
jobs:
  auto-merge-dependabot:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    permissions:
      pull-requests: write
      contents: write
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Auto Merge Dependabot PRs
        if: github.event.pull_request.user.login == 'dependabot[bot]'
        uses: shunkakinoki/actions/.github/actions/auto-merge@a85709f765e33370f1aeecf6fb87309a079c9b6a
        with:
          github-token: ${{ secrets.PAT_TOKEN }}
          PR_URL: ${{ github.event.pull_request.html_url }}
  auto-merge-check:
    if: always()
    needs:
      - auto-merge-dependabot
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Alls Green
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
          allowed-skips: auto-merge-dependabot
