
name: Changesets
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true
jobs:
  changesets-publish:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
      issues: write
      repository-projects: write
      deployments: write
      packages: write
      actions: write
      checks: write
      statuses: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.PAT_TOKEN }}
      - name: Setup Bun
        uses: shunkakinoki/actions/.github/actions/setup-bun@8b0845593754284f7670fe30f0a4a6bce3e41b04
      - name: Detect if Changeset Release
        run: |
          LAST_COMMIT_MESSAGE=$(git log -1 --pretty=%B)
          if [[ "$LAST_COMMIT_MESSAGE" == *"Version Packages"* ]] || [[ "$LAST_COMMIT_MESSAGE" == *"Release Version"* ]]; then
            echo "PUBLISH_PACKAGES=true" >> $GITHUB_ENV
          else
            echo "PUBLISH_PACKAGES=false" >> $GITHUB_ENV
          fi
      - name: Run Changesets
        uses: shunkakinoki/actions/.github/actions/changesets@8b0845593754284f7670fe30f0a4a6bce3e41b04
        with:
          github-token: ${{ secrets.PAT_TOKEN }}
          npm-token: ${{ secrets.NPM_ORGANIZATION_TOKEN }}
          create-github-releases: 'true'
  changesets-pull-request:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Bun
        uses: shunkakinoki/actions/.github/actions/setup-bun@8b0845593754284f7670fe30f0a4a6bce3e41b04
      - name: Run Prepublish
        run: bun run prepublishOnly
      - name: Run Changesets
        uses: shunkakinoki/actions/.github/actions/changesets@8b0845593754284f7670fe30f0a4a6bce3e41b04
        continue-on-error: true
        with:
          validate-pull-request: 'true'
  changesets-check:
    if: always()
    needs:
      - changesets-publish  
      - changesets-pull-request
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Alls Green
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
          allowed-skips: changesets-publish,changesets-pull-request
